/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.vagrant
.phpunit.result.cache
.env
.env.backup
.phpunit.result.cache
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
*.stackdump
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/